{% extends 'base.html.twig' %}

{% block title %}Modifier le profil n°{{profile.id}}{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center mt-4 rF">Modifier le profil de : {{profile.firstName}} {{profile.lastName}}</h1>

    {{ include('admin/user/profile/formProfile.html.twig', {'button_label': 'Mettre à jour'}) }}

    <button id="btnReset"  class="btn btn-warning my-1" href="{{ path('admin_profile_reset', {'id': profile.id})}}" onclick="showDialogBox()" >Réinitialiser le profil</button>

    <br>

    {{ include('admin/user/profile/deleteProfile.html.twig') }}

</div>

{% endblock %}

{% block javascripts %}
    <script src="/assets/js/askConfirmation.js" ></script>
{% endblock %}