{% extends 'base.html.twig' %}

{% block title %}Modifier l'utilisateur n° {{user.id}} {{user.email}}{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center mt-4 rF">Modifier l'utilisateur n° {{user.id}} {{user.email}}</h1>

    {{ include('admin/user/formUser.html.twig', {'button_label': 'Mettre à jour'}) }}
</div>
{% endblock %}
