{% extends 'base.html.twig' %}

{% block title %}Occasion index{% endblock %}

{% block body %}
<div class="container mt-4 col-md-10 mb-2">

    <section>
        <h1 class="text-center rF">Tous les évènements</h1>
        <a href="{{ path('admin_occasion_new') }}" class="btn btn-submitForm col-sm-auto mt-3">Nouvel évènement</a>
    </section>

<div class="col-md-12 mx-auto">
    <table class="table tab">
        <thead class="tab">
            <tr class="tab">
                <th>ID</th>
                <th class="col-3">Photo</th>
                <th>Catégorie</th>
                <th>Titre</th>
                <th>Détails</th>
                <th>Modifier</th>
            </tr>
        </thead>
        <tbody class="tab">
        {% for occasion in occasions %}
            <tr class="tab">
                <td class="rFb col-1">{{ occasion.id }}</td>
                <td class="col-3">                
                {% for picture in occasion.pictures %}
                    <img class="shadow-sm p-3 bg-body rounded" src="{{ asset('/uploads/pictures/'~ picture.pictureFile) }}" height="200px">     
                {% endfor %}       
                </td>
                <td class="col-2">{{ occasion.category.name }}</td>
                <td class="col-2">{{ occasion.title }}</td>
                <td class="col-1">
                    <a href="{{ path('admin_occasion_show', {'id': occasion.id}) }}"><i class="bi bi-eye-fill"></i></a>
                </td>
                <td class="col-1">                
                    <a href="{{ path('admin_occasion_edit', {'id': occasion.id}) }}"><i class="bi bi-pencil-square"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun résultat.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

    <div class="row justify-content-center">
        <a href="{{ path('admin_dashboard') }}" class="btn btn-lg btn-return shadow col-lg-2 col-md-2 col-sm-3 me-2 mt-3 mb-5">Dashboard</a>
    </div>
    
</div>
{% endblock %}
