{% extends 'base.html.twig' %}

{% block title %}Carousel{% endblock %}

{% block body %}
    <h1>Carousel n°{{ carousel.id }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>ID de l'image</th>
                <td>{{ carousel.id }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>
                {% for picture in carousel.pictures %}
                    <img class="shadow-sm p-3 mb-5 bg-body rounded" src="{{ asset('/uploads/pictures/'~ picture.pictureFile) }}" height="180px">     
                {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_carousel') }}" class="btn btn-return">Retour au carousel</a>

    <a href="{{ path('admin_carousel_edit', {'id': carousel.id}) }}" class="btn btn-update">Modifier l'image</a>

    {{ include('admin/carousel/deleteCarousel.html.twig') }}
{% endblock %}
