{% extends 'base.html.twig' %}

{% block title %}Dashboard de {{ app.user.email }} !{% endblock %}

{% block body %}

<div class="container">

    <h1 class="mt-3 mb-2 text-center rF">Administration du site</h1>

        <div class="row justify-content-center col-lg-12 col-md-auto col-sm-auto mt-3 mb-2">
            <a href="{{ path('admin_carousel') }}" class="col-6 text-center btn btns btn-carousel me-2 shadow">Carousel</a>
            <a href="{{ path('admin_gallery_index') }}" class="col-6 text-center btn btns btn-galerie shadow">Galerie photo</a>        
        </div>

        <div class="row justify-content-center col-lg-12 col-md-auto col-sm-auto mt-2 mb-2">
            <a href="{{ path('admin_occasion_index') }}" class="col-6 text-center btn btns btn-evenements me-2 shadow">Evènements</a>
            <a href="{{ path('admin_categories') }}" class="col-6 text-center btn btns btn-categories shadow">Catégories</a>
        </div>
        <div class="row justify-content-center col-lg-12 col-md-auto col-sm-auto mt-2 mb-2">
            <a href="{{ path('admin_article_index') }}" class="col-6 text-center btn btns btn-article me-2 shadow">Articles</a>
            <a href="{{ path('admin_picture_index') }}" class="col-6 text-center btn btns btn-article me-2 shadow">Images</a>
        </div>        

        <div class="row justify-content-center col-lg-12 col-md-auto col-sm-auto mt-2 mb-2">
            <a href="{{ path('admin_user_index') }}" class="col-6 text-center btn btns btn-users shadow">Utilisateurs</a>
            <a href="{{ path('admin_status_index') }}" class="col-6 text-center btn btns btn-users shadow">Statut des utilisateurs</a>
        </div>        
        
</div>

{% endblock %}
