{% extends 'base.html.twig' %}

{% block title %}Modifier image n°{{picture.id}}{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center mt-3 rF">Modifier les détails de l'image n°{{picture.id}} : </h1>

    {{ form_start(form) }}

    <div class="row justify-content-center text-center rFb">
        <div class="col-6">{{ form_row(form.altText) }}</div>
    </div>

    <div class="row justify-content-center text-center rFb">
        <div class="col-4">{{ form_row(form.height) }}</div>
        <div class="col-4">{{ form_row(form.width) }}</div>
    </div>

    <div class="row justify-content-center text-center rFb">
        <div class="col-6 rFi">{{ form_row(form.legend) }}</div>
    </div>

    <br>

    <div class="row justify-content-center">
        <a href="{{ path('admin_picture_index') }}" class="btn btn-return col-2 me-2">Retour</a>
        <button class="btn btn-submitForm col-2 ms-2">{{ button_label|default('Mettre à jour') }}</button>
    </div>

    {{ form_end(form) }}
</div>
{% endblock %}
