{% extends 'base.html.twig' %}

{% block title %}Picture{% endblock %}

{% block body %}
    <h1>Picture</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ picture.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ picture.title }}</td>
            </tr>
            <tr>
                <th>AltText</th>
                <td>{{ picture.altText }}</td>
            </tr>
            <tr>
                <th>PictureFile</th>
                <td>{{ picture.pictureFile }}</td>
            </tr>
            <tr>
                <th>Width</th>
                <td>{{ picture.width }}</td>
            </tr>
            <tr>
                <th>Height</th>
                <td>{{ picture.height }}</td>
            </tr>
            <tr>
                <th>Legend</th>
                <td>{{ picture.legend }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_picture_index') }}">back to list</a>

    <a href="{{ path('admin_picture_edit', {'id': picture.id}) }}">edit</a>

    {{ include('admin/picture/deletePicture.html.twig') }}
{% endblock %}
