{% extends "base.html.twig" %}

{% block title %}Actualités de l'association Trioenologie{% endblock %}

{% block body %}

{% for article in articles %}
    
<div class="container mt-3">

  <section class="row justify-content-center mb-5">
          
    <div class="card mb-3 mt-3" style="max-width: 540px;">
      <div class="row g-0">
            {% for picture in article.pictures %}
                <div class="surroundPics my-1">
                    <div class="pics">
                        <img class="shadow-sm p-3 mb-5 bg-body rounded" src="{{ asset('/uploads/pictures/'~ picture.pictureFile) }}" height="100px" alt"{{picture.altText}}"> 
                    </div>
                </div>        
            {% endfor %}
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ article.title }}</h5>
            <p class="card-text">{{ article.intro }}</p>
            <p class="card-text">{{ article.content }}</p>
            <p class="card-text"><small class="text-muted">{{ article.createdAt|date('d-m-Y') }}          
            {% if article.author %}
                <p class="fst-italic">{{ article.author }}</p>   
                {% else %}
                <p class="fst-italic">©️ Trioenologie</p>
                {% endif %}</small></p>
          </div>
        </div>
      </div>
    </div>

  </section>

    <br><br>

</div>



{% endfor %}


{% endblock %}