{% extends 'base.html.twig' %}

{% block title %}Gallery{% endblock %}

{% block body %}
    <h1>Gallery</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ gallery.id }}</td>
            </tr>
            <tr>
                <th>ImgTitle</th>
                <td>{{ gallery.imgTitle }}</td>
            </tr>
            <tr>
                <th>ImgDesc</th>
                <td>{{ gallery.imgDesc }}</td>
            </tr>
            <tr>
                <th>Créée le</th>
                <td>{{ gallery.createdAt ? gallery.createdAt|date('Y-m-d H:i') : '' }}</td>
            </tr>
            <tr>
                <th>Fin de publication</th>
                <td>{{ gallery.endAt ? gallery.endAt|date('Y-m-d H:i') : '' }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>                
                {% for picture in gallery.pictures %}
                    <img class="shadow-sm p-3 mb-5 bg-body rounded" src="{{ asset('/uploads/pictures/'~ picture.pictureFile) }}" height="200px">     
                {% endfor %}             
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_gallery_index') }}">Retour à la galerie photo</a>

    <a href="{{ path('admin_gallery_edit', {'id': gallery.id}) }}">Modifier l'image</a>

    {{ include('admin/gallery/deleteGallery.html.twig') }}
{% endblock %}
