{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1 class="text-center rF">Tous les articles</h1>

    <a href="{{ path('editor_article_new') }}" class="btn btn-submitForm col-sm-2 mt-3">Ecrire un nouvel article</a>

    <table class="table tab">
        <thead class="tab">
            <tr class="tab">
                <th>ID</th>
                <th>Titre</th>
                <th>Intro</th>
                <th>Images</th>
                <th>Détails</th>
                <th>Modifier</th>
            </tr>
        </thead>
        <tbody class="tab">
        {% for article in articles %}
            <tr class="tab">
                <td class="rFb">{{ article.id }}</td>
                <td>{{ article.title }}</td>
                <td>{{ article.intro }}</td>
                <td class="col-4">
                {% for picture in article.pictures %}
                    <img class="shadow-sm p-3 bg-body rounded" src="{{ asset('/uploads/pictures/'~ picture.pictureFile) }}" height="180px">     
                {% endfor %}
                </td>
                <td>
                    <a href="{{ path('editor_article_show', {'id': article.id}) }}"><i class="bi bi-eye-fill"></i></a>
                </td>
                <td>                
                    <a href="{{ path('editor_article_edit', {'id': article.id}) }}"><i class="bi bi-pencil-square"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun résultat.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="row justify-content-center">
        <a href="{{ path('editor_dashboard') }}" class="btn btn-lg btn-return shadow col-lg-2 col-md-2 col-sm-3 me-2 mt-3 mb-5">Dashboard</a>
    </div>
</div>
{% endblock %}
